<% layout("./layouts/boilerplate") %>

<div class="container">
  <div class="row g-4 mt-5">

    <div>
      <h2 class="lead mb-2">Click on a green point on the map, browse through the different trails below or search for a specific trail by location, name or trail difficulty (T1-T6):
      </h2>
    </div>

    <!-- Search -->
    <div>
      <div class="col-lg-6 offset-lg-3 col-12 mb-3">
        <form method="GET" action="/" class="input-group">
          <input class="form-control" type="text" name="search" id="search"
            placeholder="Search by name, location or difficulty..." aria-label="search">
          <input class="btn btn-success" type="submit" value="Search">
        </form>
      </div>
    </div>

    <% if(hikes.length <1) { %>
    <div class="col-12 alert alert-warning mb-5">No matches. Please try another search.</div>
    <% } %>

    <!-- Cluster Map -->
    <div id="cluster-map"></div>

    <div class="d-flex justify-content-center m-0">
      <button id="fit" class="btn btn-secondary btn-sm mb-5">Center map</button>
    </div>

    <!-- Cards -->
    <% for (let hike of hikes) { %>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
      <div class="card index-card | text-bg-light | overflow-hidden">

        <% if(hike.images.length){ %>
        <img class="card-img-top index-images" src="<%=hike.images[0].url%>" alt="" crossorigin>
        <% } else{%>
        <img class="img-fluid index-images"
          src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="">
        <% } %>

        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%=hike.title%></h5>
          <p class="card-text">
            <small class="text-muted"><%=hike.location%></small>
          </p>
          <p class="card-text">
            <small class="text-muted">&#11108; <%=hike.distance%> km</small>&nbsp;&nbsp;
            <small class="text-muted">&#128337; <%=hike.duration%> hours</small>&nbsp;&nbsp;
            <small class="text-muted">&#9650; <%=hike.ascent%> m</small>&nbsp;&nbsp;
            <small class="text-muted"><i class="fa-solid fa-person-hiking"></i> <%=hike.difficulty%></small>
          </p>
          <p class="card-text fs-6 text fw-normal"><%=hike.description.substring(0, 100)%>...</p>
          <a href="/hikes/<%=hike._id%>" class="btn btn-sm btn-success mt-auto">Read more</a>
        </div>

      </div>
    </div>
    <% } %>

    <script>
      const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
      const hikes = { features: <%-JSON.stringify(hikes) %> }
    </script>

    <script src="/javascripts/clusterMap.js"></script>